/*--- NAVBAR ---*/
#table-of-contents{
    background: linear-gradient(var(--semiLightColor), var(--neutralColor));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#table-of-contents li.active{
    background-color: rgb(var(--baseColor), .25);
}

#table-of-contents li.active > a{
    background-color: rgb(var(--baseColor), .5);
}

#table-of-contents ul.nav > li.active li.active > a, #table-of-contents li > a:hover{
    color: var(--darkColor) !important;
}

#table-of-contents li > a:hover{
    background-color: white !important;
}